<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn3.invitereferrals.com/blog/wp-content/uploads/2020/04/28050153/What-is-Influencer-Marketing_banner-1024x341.jpg);">
  <div class="container">
    <% if user_signed_in? %>
    <h1>Welcome back <strong><%= @user.first_name %>!</strong></h1>
    <%= link_to "Go to Dashboard", dashboard_path, class: "btn my-3"%>
    <% else %>
    <h1>Welcome to SuperClout</h1>
    <p>Digital platform for products, brands and services to connect with influencers, ambassadors and promoters. </p>
    <a class="btn" href="<%= new_user_registration_path %>">Join now</a>
    <% end %>
  </div>
</div>


<div class="container" id="home-head-container">
  <div class="row">
    <div class="home-search-form">
      <div class="site-info">
        <div class="brand-info">
          <h4>
            <strong>
              Brands
            </strong>
              </h4>
                <p>
                  Find the right Social Media envoy/entourage for your brand.
                 </p>
                <%= render "shared/brands_modal" %>
                <div class="superclout-info">
                  <h4 style="margin-top: 3px;">
                    <strong>
                      Superclouts
                    </strong>
                  </h4>
                    <p>Love free stuff?
                      10,000+ followers? You could become... A SuperClout.
                    </p>
                  <%= render "shared/superclout_modal" %>

                <div id="home-search-container">
              <%= render "shared/search_form" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/card_trip" %>



