<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn3.invitereferrals.com/blog/wp-content/uploads/2020/04/28050153/What-is-Influencer-Marketing_banner-1024x341.jpg);">
  <div class="container">
    <% if user_signed_in? %>
    <h1>Welcome back <strong><%= @user.first_name %>!</strong></h1>
    <%= link_to "Go to Dashboard", dashboard_path, class: "btn my-3"%>
    <% else %>
    <h1>Welcome to SuperClout</h1>
    <p>Digital platform for products, brands and services to connect with influencers, ambassadors and promoters. </p>
    <a class="btn" href="<%= new_user_registration_path %>">Join now</a>
    <% end %>
  </div>
</div>
<div class="container" id="home-head-container">
  <div class="row">
    <div class="home-search-form">
      <div class="site-info">
        <div class="brand-info">
          <h4><strong>Brands</strong></h4>
          <p>Find the right Social Media envoy/entourage for your brand.
            Unlike influencer agencies SuperClout showcases your brand on our platforms and lets the influencers come to you.
          </p>
          <!-- <script>
            function brandPopUp() {
              let popup = document.getElementById("PopupBrand");
              popup.classList.toggle("show");
            }
          </script> -->
        </div>

        <div class="superclout-info">
          <h4 style="margin-top: 3px;"><strong>Superclouts</strong></h4>
          <p>Love free stuff?
            10,000+ followers? You could become………….A SuperClout.
          </p>
        </div>

        <%= render "shared/wrapper_modal" %>
      <div id="home-search-container">
        <%= render "shared/search_form" %>
      </div>
    </div>
  </div>
</div>



<div class="py-5 card-trip-container">
  <% @products.each do |product| %>
  <%= link_to product_path(product) do %>
  <div class="card-trip">
    <% if product.photos.first %>
    <%= cl_image_tag product.photos.first.key, width: 350, crop: :scale %>
    <% else %>
    <img src="https://www.menupleaz.com/build/images/empty-product-large.png" />
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%= product.title %></h2>
        <p><%= product.brand %></p>
      </div>
      <h2 class="card-trip-age">Payment: $<%= product.compensation %></h2>

    </div>
  </div>
  <% end %>
  <% end %>
</div>

