
<div class="bg-img">
  <div class="form-container new-form">
    <h1 class="new-product">Add offer</h1>
    <div class="add_form">
      <%= simple_form_for(@product) do |f| %>
      <%= f.input :title %>
      <%= f.input :brand %>
          <%= f.input :freebie, label: "What freebies are you offering our SuperClouts?" %>
           <%= f.input :compensation, label: "How much $ is the offer?" %>
          <%= f.input :description, label: "Descibe the terms of this campaign" %>
          <%= f.input :address %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.submit "Start Campagin!", class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
